.root {
	-fx-font-family: "Times New Roman"; /* Iowan Old Style */
	-fx-font-size: 14px;
	-fx-font-weight: normal;
	-fx-font-style: normal;
	/*-fx-background-image: url("bg.jpg");*/
}

#friendsOfflineList {
	-fx-text-color: red;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
	-fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
	-fx-text-fill: white;
}

.list-cell:odd { /* <=== changed to even */
	-fx-background-color: white;
}

.list-cell:filled:hover {
	-fx-background-color: #0093ff;
	-fx-text-fill: white;
}

.button {
	-fx-background-color: linear-gradient(#f2f2f2, #d6d6d6),
		linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
		linear-gradient(#dddddd 0%, #f6f6f6 50%);
	-fx-background-radius: 8, 7, 6;
	-fx-background-insets: 0, 1, 2;
	-fx-text-fill: black;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.button:hover {
	-fx-background-color: linear-gradient(#93cede, #61a2b1);
	-fx-background-radius: 8, 7, 6;
	-fx-background-insets: 0, 1, 2;
	-fx-text-fill: black;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.button:focused {
	-fx-background-color: linear-gradient(#93cede, #61a2b1);
	-fx-background-radius: 8, 7, 6;
	-fx-background-insets: 0, 1, 2;
	-fx-text-fill: black;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

@font-face {
	font-family: 'OpenSansEmoji';
	src: url(../Emojis/OpenSansEmoji.ttf);
}

.text-field {
	-fx-font-family: OpenSansEmoji;
}

#bSearch {
	-fx-graphic: url(../Icons/search-icon.png);
}

#bEmoji {
	-fx-graphic: url(../Icons/emoticons-icon.png);
}

#bAddPlus {
	-fx-graphic: url(../Icons/add.png);
}

.color-picker {
	-fx-background-color: linear-gradient(#f2f2f2, #d6d6d6),
		linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
		linear-gradient(#dddddd 0%, #f6f6f6 50%);
	-fx-background-radius: 8, 7, 6;
	-fx-background-insets: 0, 1, 2;
	-fx-text-fill: black;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.color-picker:hover {
	-fx-background-color: linear-gradient(#93cede, #61a2b1);
	-fx-background-radius: 8, 7, 6;
	-fx-background-insets: 0, 1, 2;
	-fx-text-fill: black;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.color-picker:focused {
	-fx-background-color: linear-gradient(#93cede, #61a2b1);
	-fx-background-radius: 8, 7, 6;
	-fx-background-insets: 0, 1, 2;
	-fx-text-fill: black;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.unread {
	-fx-color: red;
}